@model PROGPOE1.Models.EmployeeViewModel

<form method="post">
    <div>
        <label for="FirstName">First Name</label>
        <input type="text" id="FirstName" name="FirstName" value="@Model.FirstName" />
        @Html.ValidationMessageFor(m => m.FirstName)
    </div>

    <div>
        <label for="LastName">Last Name</label>
        <input type="text" id="LastName" name="LastName" value="@Model.LastName" />
        @Html.ValidationMessageFor(m => m.LastName)
    </div>

    <div>
        <label for="DateOfBirth">Date of Birth</label>
        <input type="date" id="DateOfBirth" name="DateOfBirth" value="@Model.DateOfBirth.ToString("yyyy-MM-dd")" />
        @Html.ValidationMessageFor(m => m.DateOfBirth)
    </div>

    <div>
        <label for="Email">Email</label>
        <input type="email" id="Email" name="Email" value="@Model.Email" />
        @Html.ValidationMessageFor(m => m.Email)
    </div>

    <div>
        <label for="HoursWorked">Hours Worked</label>
        <input type="number" id="HoursWorked" name="HoursWorked" value="@Model.HoursWorked" />
        @Html.ValidationMessageFor(m => m.HoursWorked)
    </div>

    <div>
        <label for="HourlyRate">Hourly Rate</label>
        <input type="number" id="HourlyRate" name="HourlyRate" value="@Model.HourlyRate" />
        @Html.ValidationMessageFor(m => m.HourlyRate)
    </div>

    <div>
        <label for="Status">Status</label>
        <input type="text" id="Status" name="Status" value="@Model.Status" />
        @Html.ValidationMessageFor(m => m.Status)
    </div>

    <button type="submit">Save Changes</button>
</form>

@Html.ValidationSummary(true)

